


/* // X-Small devices (portrait phones, less than 576px) */
#shop{
    padding:2rem 2rem;
    display: grid;
}

#shop h1{
    padding: 4rem 0rem;
}

#shop-header{
    grid-column-start: 1;
    grid-column-end: 3;
    grid-row: 1;
}
#catalog-categories{
    grid-row: 2;
    grid-column-start: 1;
    grid-column-end: 3;
}
#menu{
    grid-row: 3;
    grid-column-start: 1;
    grid-column-end: 1;
}
#products{
    
   
    padding: .25rem;
    grid-row: 3;
    grid-column-start: 2;
    grid-column-end: 3;
}

#products-index{
    grid-row: 4;
    grid-column-start: 1;
    grid-column-end: 3;
}
#products{
    max-width: 100%;
  margin: 0 auto;
  display: grid;
  gap: 3rem;
  grid-template-columns: repeat(3, 1fr)
}


#catalog-categories {
    display: flex;
    justify-content: center;
    margin-bottom: 2rem;
}
.animated-border li{
   
    margin: 1rem;
    font-size: 1.5rem;
    border:none;
  position: relative;

}

.animated-border li  a{
    padding:1rem 2rem;
    display: block;
}

.animated-border li:hover{
    border: none;
  }


#menu ul {
    display: block;
    padding: 0rem 3rem;
}

#menu ul a{
    padding: 2rem 3rem;
    font-size: 1.25rem;
    margin: 0;
    display: block;
}


.animated-border li::after{
content: '';
position: absolute;
width: 0px;
height: 2px;
left: 50%;
bottom:0;
background-color: #373737;;
transition: all ease-in-out .2s;
}
.animated-border li:hover::after{
width: 100%;
left: 0;
}

.products-item{
    grid-column: 1 span;
    
   
}
.products-item img{
    max-width: 100%;
    -webkit-box-shadow: 0px 0px 30px -1px #5a5a5a; 
box-shadow: 0px 0px 10px -1px #5a5a5a;
}

#products-index{
    display: flex;
    justify-content: center;
    margin-bottom: 2rem;
}



#products-index li{
    padding: 1.5rem;
    background-color: #f7f6f6;
    margin: .25rem;
    border: 1px solid #eae7e7;
}


#products-index li:hover{
    
    background-color: #eae7e7;
}
footer{
   
    background-color: black;
    padding: 2rem 15rem;
    text-align: center;
    
}

footer h5{
    color:white;
}

/* // Small devices (landscape phones, 576px and up) */
@media (min-width: 576px) {  }

/* // Medium devices (tablets, 768px and up) */
@media (min-width: 768px) {  }

/* // Large devices (desktops, 992px and up) */
@media (min-width: 992px) {  }

/* // X-Large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) {}

/* // XX-Large devices (larger desktops, 1400px and up) */
@media (min-width: 1400px) { }